* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #48b7e4;
  }
  
  /* Header/Blog Title */
  header {
    padding: 30px;  
    text-align: center;
    background: white;
  }
  
  header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(53, 88, 182);
    border-radius: 15px;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
table {
    text-align: center;
    text-decoration: none;
    width: 1200px;
    height: 200px;
    border:2;
    margin-bottom: auto;
    font-size: 25px;
    margin-left: 5%;
}
.selected{
    background-color:#efefef;
    
}
th{
    color:#20f;

}
.days{
    background-color:#2ef;
}
td{
    color:black;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

        




