* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #48b7e4;
  }
  
  /* Header/Blog Title */
  header {
    padding: 30px;  
    text-align: center;
    background: white;
  }
  
  header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(53, 88, 182);
    border-radius: 15px;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  /* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}